body {
    font-family:Helvetica;
}

.logo {
    margin:0;
}

.logoLink {
    color:black;
    text-decoration:none;
}

#url {
    transition: width 1s;
    width:25%;
    min-width:250px;
    position:relative;
}

#pass {
    position:relative;
    width:25%;
    min-width:125px;
}

#options {
    transition:width 0.5s, height 0.5s, opacity 0.5s;
    background:#f0f0f0;
    border-radius:10px;
    max-width:990px;
    margin-top:20px;
    padding:1%;
    width:0;
    height:0;
    opacity:0;
}

#resp {
    background:#f0f0f0;
    margin-top:10px;
    border-radius:10px;
    padding:1%;
    width:50%;
    max-width:990px;
}

#resp #rUrl, #resp #error {
    margin-left:5px;
}

.invalid {
    animation:shake .6s linear;
    border-color:red;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid black;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top:36px;
        left:36px;
        width:0;
        height:0;
        opacity:1;
    }
    100% {
        top:0px;
        left:0px;
        width:72px;
        height:72px;
        opacity:0;
    }
}

@keyframes shake {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left:0px;
    }
}
